/UntranslatedAssignmentQuickFix.java
/UntranslatedExpressionQuickFix.java
/UntranslatedFormulaeQuickFix.java
/UntranslatedPredicateQuickFix.java
/UntranslatedTypeQuickFix.java
/UntranslatedValueQuickFix.java
